/*All pages*/

@import url('https://fonts.googleapis.com/css?family=Arimo');

.navbar{
    overflow: hidden;
    margin-top: 30px;
    margin-left: 500px;
    font-family: 'Arimo', sans-serif;
    padding: 10px;
}

.navbar a{
    text-decoration: none;
    color: gold;
    display: block;
    padding: 15px;
    float: left;
    font-size: 40px;
}

.navbar a:hover{
    background-color: gold;
    color: black;
}

.navbar a.active{
    text-decoration: underline;
}

.dropdown{
    overflow: hidden;
    float: left;
    font-size: 10px;
    color: gold;
    border: none;
    outline: none;
    background-color: inherit;
}

.dropbtn{
    border: none;
    outline: none;
    background-color: inherit;
    color: gold;
    float: left;
    font-size: 40px;
    margin-top: 13px;
}

.dropbtn:hover{
    background-color: gold;
    color: black;
}

.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: gold;
    margin-top: 55px;
    margin-left: -110px;
}

.dropdown-content a{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-content a:hover{
    background-color: black;
    color: gold;
}

.dropdown:hover .dropdown-content{
    display: block;
}

body{
    background-image: url(pics/blackbackground.jpg);
    position: static ;
}

/*Home*/

.homebox1{
    height: 90vh;
    width: 100%;
    background-image: url(pics/me7.PNG);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: table;
    margin-top: -10px;
}

.homebox2{
    height: 90vh;
    width: 100%;
    background-image: url(pics/me6.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

.homebox3{
    height: 90vh;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

.homebox4{
    height: 90vh;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

.homebox5{
    height: 90vh;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

.homeheading1{
    font-size: 80px;
    list-style-type: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: gold;
    font-family: 'Arimo', sans-serif;
}

.homeheading2{
    font-size: 80px;
    list-style-type: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: gold;
    font-family: 'Arimo', sans-serif;
}

/*About Me*/

.aboutmebody{
    height: 300vh;
}

.aboutmep1{
    color: gold;
    font-size: 30px;
    text-indent: 50px;
    margin: 80px;
    font-family: 'Arimo', sans-serif;
}

.aboutmep2{
    color: gold;
    font-size: 30px;
    text-indent: 50px;
    margin: 80px;
    margin-bottom: -1px;
    font-family: 'Arimo', sans-serif;
}

.aboutmep3{
    color: gold;
    font-size: 30px;
    text-indent: 50px;
    margin: 80px;
    margin-bottom: -1px;
    font-family: 'Arimo', sans-serif;
}

.aboutmep4{
    color: gold;
    font-size: 30px;
    text-indent: 50px;
    margin: 80px;
    margin-bottom: -1px;;
    font-family: 'Arimo', sans-serif;
}

.aboutmepic1{
    margin-right: -190px;
    margin-left: 100px;
    margin-top: 100px;
}

.aboutmepic2{
    margin-left: 220px;
    margin-right: 20px;
}

.aboutmepic3{
    margin-left: 10px;
}

.aboutmepic4{
    margin: 20px;
    margin-left: 175px;
}

.aboutmepic5{
    margin: 20px;
    margin-left: 0px;
    
}

.aboutmepic6{
    margin: 20x;
    margin-top: 30px;
}

.aboutmepic7{
    margin: 20px;
}

.aboutmepic8{
    margin: 20px;
    margin-left: 300px;
}

.aboutmepic9{
    margin: 20px;
    margin-left: 250px;
}

.videogames{
    margin: 10px;
    max-height: 250px;
}

/*Resume*/

.resumeheader{
    color: gold;
    font-family: 'Arimo', sans-serif;
}

.resumeeducation{
    color: gold;
    font-family: 'Arimo', sans-serif;
}

.resumeworkexp{
    color: gold;
    font-family: 'Arimo', sans-serif;
}

.resumecertifications{
    color: gold;
    font-family: 'Arimo', sans-serif;
}

.resumereferences{
    color: gold;
    font-family: 'Arimo', sans-serif;
}

/*Portfolio - Web Projects*/

.ryu{
    max-height: 600px;
    padding: 20px;
    margin-left: 5px;
}

.buttonSlides{
    position: relative;
}

.leftButton{
    position:absolute;
    top: 50%;
    left: 0%;
    transform: translate(300%,8500%);
    color: gold;
    background-color: black;
}

.rightButton{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-250%, 8500%);
    color: gold;
    background-color: black;
}

.showcasePics{
    width: 90%;
    margin-left: 100px;
}

.showcaseh{
    color: gold;
    position: absolute;
    right: 830px;
    top: 500px;
    font-size: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding: 10px;
    text-align: center;
    border: 5px;
    border-style: solid;
}

.portp{
    color: gold;
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    text-indent: 50px;
}

/*Portfolio - Writing*/

.writingExamples{
    height: 200vh;
}

.writingh1{
    font-family: 'Arimo', sans-serif;
    color: gold;
    font-size: 60px;
    text-align: center;
}

.PDF1{
    width: 900px;
    height: 1000px;
    margin-left: 500px;
    margin-top: 20px;
}

.PDF2{
    width: 900px;
    height: 1000px;
    margin-left: 500px;
    margin-top: 500px;
}

.writingexamplep1{
    font-family: 'Arimo', sans-serif;
    color: gold;
    font-size: 25px;
    max-width: 450px;
    margin-top: -750px;
    margin-left: 20px;
}

.writingexamplep2{
    font-family: 'Arimo', sans-serif;
    color: gold;
    font-size: 25px;
    max-width: 450px;
}

/*Portfolio - Artwork, Photography, and Photoshop*/

.digitalworkheading{
    color: gold;
    font-size: 50px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
}

.digitalworksubheading{
    color: gold;
    font-size: 30px;
    font-family: 'Arimo', sans-serif;
}

/*Contact*/

.circleimg{
    border: 5px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-left: 750px;
    margin-top: 100px;
}

.socialmedia{
    margin-left: 640px;
}

.contact{
    color: gold;
    text-align: center;
    margin: 20px;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Arimo', sans-serif;
}

.contactp{
    color: gold;
    font-size: 30px;
    font-family: 'Arimo', sans-serif;
    text-indent: 50px;
}