.navbar ul{
    list-style-type: none;
    text-align: center;
    margin: -10px;
}

.navbar ul li{
    display: inline-block;
    font-size: 50px;
    margin: 25px;
}

.navbar ul li a{
    text-decoration: none;
    color: gold;
}

body{
    background-image: url(pics/blackbackground.jpg);
    position:static ;
}

.homebox1{
    height: 90vh;
    width: 100%;
    background-image: url(pics/me7.PNG);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: table;
    margin-top: -10px;
}

.homebox2{
    height: 90vh;
    width: 100%;
    background-image: url(pics/me6.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

.homebox3{
    height: 90vh;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

.homebox4{
    height: 90vh;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

.homebox5{
    height: 90vh;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

.homeheading1{
    font-size: 80px;
    list-style-type: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: gold;
}

.homeheading2{
    font-size: 80px;
    list-style-type: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: gold;
}

/*Home*/

.aboutmep1{
    color: gold;
    font-size: 30px;
    text-indent: 50px;
    margin: 80px;
}

.aboutmep2{
    color: gold;
    font-size: 30px;
    text-indent: 50px;
    margin: 80px;
    margin-bottom: -1px;
}

.aboutmep3{
    color: gold;
    font-size: 30px;
    text-indent: 50px;
    margin: 80px;
    margin-bottom: -1px;
}

.aboutmep4{
    color: gold;
    font-size: 30px;
    text-indent: 50px;
    margin: 80px;
    margin-bottom: -1px;;
}

.aboutmepic1{
    margin-right: -190px;
    margin-left: 100px;
    margin-top: 100px;
}

.aboutmepic2{
    margin-left: 220px;
    margin-right: 20px;
}

.aboutmepic3{
    margin-left: 10px;
}

.aboutmepic4{
    margin: 20px;
    margin-left: 175px;
}

.aboutmepic5{
    margin: 20px;
    margin-left: 0px;
    
}

.aboutmepic6{
    margin: 20x;
}

.aboutmepic7{
    margin: 20px;
    
}

/*About Me*/

.resumeheader{
    color: gold;
}

.resumeeducation{
    color: gold;
}

.resumeworkexp{
    color: gold;
}

.resumecertifications{
    color: gold;
}

.resumereferences{
    color: gold;
}

/*Resume*/

.buttonSlides{
    position: relative;
}

.leftButton{
    position:absolute;
    top: 50%;
    left: 0%;
    transform: translate(300%,8500%);
    color: gold;
    background-color: black;
}

.rightButton{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-250%, 8500%);
    color: gold;
    background-color: black;
}

.showcasePics{
    width: 90%;
    margin-left: 100px;
}

.showcaseh{
    color: gold;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.portp{
    color: gold;
}

/*Portfolio - Web Projects*/

.writingExamples{
    height: 200vh;
}

.PDF{
    width: 900px;
    height: 1000px;
    margin-left: 500px;
    margin-top: 20px;
}

/*Portfolio - Writing*/

.circleimg{
    border: 5px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-left: 750px;
    margin-top: 100px;
}

.socialmedia{
    margin-left: 640px;
}

.contact{
    color: gold;
    text-align: center;
    margin: 20px;
    margin-top: 30px;
    font-size: 30px;
}

.contactp{
    color: gold;
    font-size: 30px
}

/*Contact*/